@import 'normalize.css';
@import 'typography.css';

/* insert href values within parenthesis after a elements */
a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   font-style: italic;
}

/* for relative links (those that begin /yaddi/yaddi/yaddi) insert the sitename before the beginning slash to make a full url */
/* use of regular expression-esque syntax (such as href^="/") is supported in css3 and higher only */

/* ---------------------------------------
	MAKE SURE TO CHANGE siteURL.com TO THE CORRECT URL
	--------------------------------------- */

a[href^="/"]:after {
	content: " (http://siteURL.com" attr(href) ") ";
}

